@model Vehicle 
@{
    string title = ViewBag.Action + " Vehicle";
    ViewBag.Title = title;
}
<h2>@ViewBag.Title</h2>
<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Year">Year</label>
        <input asp-for="Year" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Make">Make</label>
        <input asp-for="Make" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="VehModel">Model</label>
        <input asp-for="VehModel" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Trim">Trim</label>
        <input asp-for="Trim" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="BodyStyle">Body Style</label>
        <input asp-for="BodyStyle" class="form-control">
    </div>
    <input type="hidden" asp-for="VehicleId" />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>